In [9]:
import pandas as pd
import numpy as np

In [10]:
#import a csv with pre nd post coordinates of the markers
df = pd.read_csv("360274_R.csv", sep = ";")
df.tail()

    x_pre  x_post  y_pre  y_post      r_pre     r_post  sz_pre  sz_post
8   114.5   158.5  753.5   759.5   6.900000   6.900000     0.0      0.0
9   249.5   249.5  754.5   760.5   6.900000   6.200000     0.0      0.0
10  475.5   475.5  755.5   761.5   6.900000   6.200000     0.0      0.0
11  430.5   429.5  755.5   760.5  22.900000  21.799999     1.0      1.0
12  204.5   203.5  754.5   759.5  22.700001  21.799999     1.0      1.0

In [11]:
#get the major marker
major = df[df["sz_pre"] == 1]
major

    x_pre  x_post  y_pre  y_post      r_pre     r_post  sz_pre  sz_post
11  430.5   429.5  755.5   760.5  22.900000  21.799999     1.0      1.0
12  204.5   203.5  754.5   759.5  22.700001  21.799999     1.0      1.0

In [18]:
#get the shift of the pre and post
dx = (major["x_pre"] - major["x_post"])
dy = (major["y_pre"] - major["y_post"])

print(dx)
print(dy)

1.0
-5.0